@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
  }

  .app-font{
    font-family: "Open Sans", sans-serif;
  }

  .p-dialog, .p-dialog-header, .p-dialog-content {
    font-family: 'Roboto', sans-serif !important;
  }
  

.p-dialog .p-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-dialog .p-field label {
  margin-bottom: 5px;
  margin-top: 10px;
}

.p-dialog .p-field .p-inputtext {
  width: 100%;
}


.p-dialog-content {
  background-color: #ffffff;
  color: #333;
}

.p-dialog-title {
  color: #16B684;
  font-size: 1.25rem;
  font-weight: bold;
}

  a,
  .green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
  }
  
  @media (hover: hover) {
    a:hover {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }
  
  @media (min-width: 1024px) {
    body {
      display: flex;
      place-items: center;
    }
  }